@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>AddBlog</h1>
<br />
@using (Html.BeginForm("AddBlog", "Blog", FormMethod.Post))
{
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title)
    <br />
    @Html.Label("Image")
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Image)
    <br />
    @Html.Label("Small Image")
    @Html.TextBoxFor(x => x.ThumbNailImage, new { @class = "form-control" })
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(x=> x.CategoryId, (List<SelectListItem>)ViewBag.categoryValues, new { @class="form-control"})
    <br />
    @Html.Label("Content")
    @Html.TextAreaFor(x => x.Content, 10, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Content)
    <br />
    <button class="btn btn-info">Save Writing</button>
}
