@using EntityLayer.Concrete
@model List<Blog> 
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>The Blogs Of Writer</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Creation Date</th>
        <th>Category</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Title</td>
            <td>@(((DateTime)item.CreationDate).ToString("dd/MMM/yyyy"))</td>
            <td>@item.Category.Name</td>
            <td>@item.Status</td>
            <td><a href="/Blog/DeleteBlog/@item.Id" class="btn btn-danger">Delete</a></td>
            <td><a href="/Blog/EditBlog/@item.Id" class="btn btn-warning">Update</a></td>
        </tr>
    }
    <a href="#" class="btn btn-primary">Create Blog</a>
</table>

