@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>EditBlog</h1>

@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
    <br />
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Thumbnail Image")
    @Html.TextBoxFor(x => x.ThumbNailImage, new { @class = "form-control" })
    <br />
    @Html.Label("Image")
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br />
    @Html.Label("Category")
    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
    <br />
    @Html.Label("Content")
    @Html.TextAreaFor(x => x.Content, 10,3, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update</button>
} 